* {
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.container-game {
    width: 50%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.container-span {
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-center-span {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.form-letter {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin-right: 1rem;
    width: 15rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    padding-left: 1rem;
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

input:focus {
    box-shadow: 0 0 2px 2px #64b5f6;
}

input::placeholder {
    font-weight: 300;
}

button {
    height: 36px;
    width: 10rem;
    border: none;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    background-color: #004B87;
    color: #fff;
    text-align: center;
}




@media (max-width: 768px){
    .container-game {
        width: 80%;
        height: 30%;
        padding: 0;
    }
    .form-letter {
        width: 100%;
        flex-direction: column;
        height: 5rem;
        justify-content:space-between;
    }
}